
body{
background-color: beige;
}

h1{
    text-align: center;
}

section{
    display: grid; 
    grid-template-columns: repeat(4,8rem);
    grid-template-rows: repeat(4,8rem);
}

#box{
    width:400px;
    height: 400px;
    border: 2px solid  grey ;
    box-sizing:border-box;
    position: relative;
   bottom:500px;
   left:600px;
   

}

#box2{
    width:400px;
    height: 400px;
    border: 2px solid  grey ;
    box-sizing:border-box;
    position: relative;
   bottom:900px;
   left:600px;
   

}

input{
    background-color: beige;
    /* position: center;
    bottom: 550px;
    left: 500px; */
}

form{
position:relative;
bottom:550px;
left:600px;
}
/* .picture{
    width:400px ;
    height:400px;
} */

.textLoction{
position: center; 
top:100px;
bottom: 100px;
}
